body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #F4F4F4;
}

#container {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column; 
    align-items: center;
    background: url(https://w0.peakpx.com/wallpaper/550/527/HD-wallpaper-whatsapp-paper-black-background-thumbnail.jpg);
    background-position: center;
}

.navbar {
    height: 25px;
    width: 100%;
    background-color: #75A99B;
    padding: 15px;
    color: #000;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 15px black;
    position: fixed;
}

#left-side{
    display: flex;
}

#right-side {
    display: flex;
    margin-right: 20px;
    font-weight: 700;
}

.group-profile-picture{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    position: relative;
    top: -10px;
    left: -5px;
}

#group-title{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1.3rem;
    text-decoration: none;
}

#typingInfo {
    color: white;
    position: relative;
    top: -27px;
    font-size: 0.7rem;
    font-style: italic;
    left: 50px;
}

.time {
       color: grey;
position: relative;
    font-size: 0.7rem;
    left: 12px;
    top: -17px;
}

.overflow-container {
    height: 80vh;
    width: 100%;
    position: relative;
    top: 75px;
    overflow: auto;
}

#message-box {
    min-height: 85vh;
    width: 100%; 
    color: #fff;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 20px;
    overflow: hidden;
}

form {
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    background-color: #1F1F1F;
}

#message-input {
    height: 30px;
    width: 70vw;
    border-radius: 10px;
    background-color: lightgrey;
    color: #000;
    font-size: 0.9rem;
    font-weight: 500;
    outline: none;
    padding-left: 10px;
}

#send-message{
    background: transparent;
    color: lightgrey;
    outline: none;
    height: 30px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    box-sizing: content-box;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

.chat-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95vw;
    padding: 20px;
}

.current-user-chat-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: fit-content;
    align-items: flex-end;
    width: 95vw;
    padding: 20px;
}

.broadcast-chat-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-items: flex-end;
    width: 95vw;
    padding: 20px;
}

.notify-message, .message {
    color: grey;
    font-style: italic;
    font-size: 1rem;
    text-align: center;
}

.new-message{
    color: black;
    background: white;
    padding: 10px 10px 25px 10px;
    border-radius: 15px 15px 15px 0;
    width: fit-content; 
    min-width: 50px;
    max-width: 40vw;
}

.message-container {
    display: flex;
    flex-direction: column;
}

.cur-user-message {
    color: black;
    background: white; 
    padding: 10px 10px 25px 10px; 
    border-radius: 15px 15px 0 15px; 
    width: fit-content; 
    min-width: 50px;
    max-width: 40vw;
}

.cur-user-time {
    color: grey;
    position: relative;
    font-size: 0.8em;
    right: -11px;
    top: -19px;
}

.user-profile {
    border-radius: 50%;
    height: 40px;
    margin: 10px;
}